<div class="stat-card @Color">
    <div class="sc-top">
        <span class="sc-icon">@Icon</span>
        <span class="sc-delta @(Pos?"pos":"neg")">@Delta</span>
    </div>
    <div class="sc-value">@Value</div>
    <div class="sc-label">@Label</div>
</div>

@code {
    [Parameter] public string Label { get; set; } = "";
    [Parameter] public string Value { get; set; } = "";
    [Parameter] public string Icon  { get; set; } = "";
    [Parameter] public string Color { get; set; } = "blue";
    [Parameter] public string Delta { get; set; } = "";
    [Parameter] public bool   Pos   { get; set; } = true;
}
