@page "/"
@using Bikehub.Hybrid.Components.UIComponents
@using static Bikehub.Hybrid.Components.UIComponents.Loader

@layout MainLayout
@implements IDisposable
@attribute [Authorize(Roles = "MECHANIC", Policy = "SERVICE_DASHBOARD")]

<AuthorizeView Roles="MECHANIC" Policy="SERVICE_DASHBOARD">
    <Authorized>

        <div class="page-wrapper">
            <div class="mb-2 page-inner">
                <!-- your entire page content -->

                <div class="p-2">
                    <div class="header-section ">

                        <h5><b> <span style="padding:10px;background-color:burlywood;border-radius:50px;width:100px">🔧</span> Services - Mechanic Dashboard </b></h5>
                        <p>Manage your daily service workflow</p>
                    </div>

                    <div class="summary-section">
                        <div class="summary-card">
                            <div class="summary-header">
                                <p><strong>PENDING</strong></p>
                                <span>⏳</span>
                            </div>
                            @if (_isMechSummaryLoading)
                            {
                                <Loader Size="sm" />
                            }
                            else
                            {
                                <h2>@_summary.Pending</h2>
                            }

                        </div>
                        <div class="summary-card ">
                            <div class="summary-header">
                                <p><strong>IN PROGRESS</strong></p>
                                <span>🚧</span>
                            </div>
                            @if (_isMechSummaryLoading)
                            {
                                <Loader Size="sm" />
                            }
                            else
                            {
                                <h2>@_summary.InProgress</h2>
                            }
                        </div>
                        <div class="summary-card">
                            <div class="summary-header">
                                <p><strong>DONE TODAY</strong></p>
                                <span>✅</span>
                            </div>
                            @if (_isMechSummaryLoading)
                            {
                                <Loader Size="sm" />
                            }
                            else
                            {
                                <h2>@_summary.DoneToday</h2>
                            }
                        </div>
                        <div class="summary-card">
                            <div class="summary-header">
                                <p><strong>MONTHLY TOTAL</strong></p>
                                <span>✅</span>
                            </div>
                            @if (_isMechSummaryLoading)
                            {
                                <Loader Size="sm" />
                            }
                            else
                            {
                                <h2>@_summary.ThisMonth</h2>
                            }
                        </div>
                    </div>

                    <div class="job-section mt-3">
                        <div class="tabs">
                            <button class="tab-btn @(activeTab == TabType.Pending ? "active" : "")"
                                    @onclick="() => SetTab(TabType.Pending)">
                                ⏳ Pending
                               <span class="badge">@_assignedJobVM._pendingCount</span>
                            </button>

                            <button class="tab-btn @(activeTab == TabType.Progress ? "active" : "")"
                                    @onclick="() => SetTab(TabType.Progress)">
                                🚧 InProgress
                                <span class="badge">@_assignedJobVM._inProgressCount</span>
                            </button>

                            <button class="tab-btn @(activeTab == TabType.Completed ? "active" : "")"
                                    @onclick="() => SetTab(TabType.Completed)">
                                ✅ Completed
                                <span class="badge">@_assignedJobVM._completedCount</span>
                            </button>
                        </div>
                        <div class="tab-content ">
                            @if (activeTab == TabType.Pending)
                            {

                                if (_isJobsLoading)
                                {
                                    <Loader position="Position.Center" />
                                }
                                else if (!_isJobsLoading && (_assignedJobVM._pendingJobs == null || _assignedJobVM._pendingJobs.Count() == 0))
                                {
                                    <div style="text-align:center; padding:40px;">
                                        <h3 style="margin-bottom:10px;">No pending jobs</h3>
                                        <p style="color:#666;">All caught up! No pending services at the moment.</p>
                                    </div>
                                }
                                else
                                {
                                    foreach (var job in _assignedJobVM._pendingJobs)
                                    {

                                        <div class="job-card">
                                            <div class="job-header">
                                                <span class="job-id"> @job.JobCardNumber </span>
                                                <span class="status"> @job.ServiceStatus </span>
                                            </div>

                                            <h4 class="title">@job.ProblemDescription</h4>

                                            <div class="assigned">
                                                <span class="icon">👤</span>
                                                @job.BikeModel
                                            </div>

                                            <div class="customer">
                                                <span class="badge">T</span>
                                                <span class="name">@job.CustomerName</span>
                                                <span class="role">Customer</span>
                                            </div>

                                            <div class="dates">
                                                <div class="date">
                                                    📅 @job.CreatedDate.ToString("dd MMM yyyy HH:mm")
                                                </div>

                                                @* <div class="date blue">
                                                🕒 @job.StartTime.Value.ToString("dd MMM yyyy HH:mm")
                                            </div> *@
                                            </div>

                                            <div class="time-row">
                                                <span class="chip yellow">⏳ @job.ActualDuration mins</span>
                                                <span class="chip red">⏱  -:- </span>
                                            </div>

                                            <div class="actions">
                                                <button class="complete" @onclick="()=>StartJobApi(job.serviceJobId)">✔ Start Job</button>
                                                <button class="details" @onclick="() => OpenModal(job.serviceJobId)">📄 Details</button>
                                            </div>
                                        </div>

                                    }
                                }
                            }
                            else if (activeTab == TabType.Progress)
                            {
                                if (_isJobsLoading)
                                {
                                    <Loader position="Position.Center" />
                                }
                                else if (!_isJobsLoading && (_assignedJobVM._InProgresssJobs == null || _assignedJobVM._InProgresssJobs.Count() == 0))
                                {
                                    <div style="text-align:center; padding:40px;">
                                        <h3 style="margin-bottom:10px;">No InProgress jobs</h3>
                                        <p style="color:#666;">All caught up! No Inprogress services at the moment.</p>
                                    </div>
                                }
                                else
                                {
                                    foreach (var job in _assignedJobVM._InProgresssJobs)
                                    {
                                        <div class="job-card">
                                            <div class="job-header">
                                                <span class="job-id"> @job.JobCardNumber </span>
                                                <span class="status"> @job.ServiceStatus </span>
                                            </div>

                                            <h4 class="title">@job.ProblemDescription</h4>

                                            <div class="assigned">
                                                <span class="icon">👤</span>
                                                @job.BikeModel
                                            </div>

                                            <div class="customer">
                                                <span class="badge">T</span>
                                                <span class="name">@job.CustomerName</span>
                                                <span class="role">Customer</span>
                                            </div>

                                            <div class="dates">
                                                <div class="date">
                                                    📅 @job.CreatedDate.ToString("dd MMM yyyy HH:mm")
                                                </div>

                                                <div class="date blue">
                                                    🕒 @job.StartTime.Value.ToString("dd MMM yyyy HH:mm")
                                                </div>
                                            </div>

                                            <div class="time-row">
                                                <span class="chip yellow">⏳ @job.EstimatedDuration mins</span>
                                                <span class="chip red">⏱  @GetElapsed(job.StartTime.Value)</span>
                                            </div>

                                            <div class="actions">
                                                <button class="complete" @onclick="() => CompleteJobApi(job.serviceJobId)">✔ Marked As Completed</button>
                                                <button class="details" @onclick="()=>OpenModal(job.serviceJobId)" >📄 Details</button>
                                            </div>
                                        </div>

                                    }
                                }
                            }
                            else if (activeTab == TabType.Completed)
                            {

                                if (_isJobsLoading)
                                {
                                    <Loader position="Position.Center" />
                                }
                                else if (!_isJobsLoading && (_assignedJobVM._CompletedJobs == null || _assignedJobVM._CompletedJobs.Count() == 0))
                                {
                                    <div style="text-align:center; padding:40px;">
                                        <h3 style="margin-bottom:10px;">No completed jobs</h3>
                                        <p style="color:#666;">All caught up! No Completed services at the moment.</p>
                                    </div>
                                }
                                else
                                {
                                    foreach (var job in _assignedJobVM._CompletedJobs)
                                    {
                                        <div class="job-card">
                                            <div class="job-header">
                                                <span class="job-id"> @job.JobCardNumber </span>
                                                <span class="status"> @job.ServiceStatus </span>
                                            </div>

                                            <h4 class="title">@job.ProblemDescription</h4>

                                            <div class="assigned">
                                                <span class="icon">👤</span>
                                                @job.BikeModel
                                            </div>

                                            <div class="customer">
                                                <span class="badge">@job.CustomerName?.Take(1)</span>
                                                <span class="name">@job.CustomerName</span>
                                                <span class="role">Customer</span>
                                            </div>

                                            <div class="dates">
                                                <div class="date">
                                                    📅 @job.CreatedDate.ToString("dd MMM yyyy HH:mm")
                                                </div>

                                                <div class="date blue">
                                                    🕒 @job.StartTime.Value.ToString("dd MMM yyyy HH:mm")
                                                </div>
                                            </div>

                                            <div class="time-row">
                                                <span class="chip yellow">⏳ @job.EstimatedDuration mins</span>
                                                <span class="chip red">⏱ @job.ActualDuration </span>
                                            </div>

                                            <div class="actions">
                                                <button class="details" @onclick="() => OpenModal(job.serviceJobId)">📄 Details</button>
                                            </div>

                                        </div>
                                    }

                                }
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <h3 class="text-center mt-5">🚫 Access Denied</h3>
        <p class="text-center">You do not have permission to view this page.</p>
    </NotAuthorized>
    <Authorizing>
        <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
            <div style="text-align: center;">
                <div style="font-size: 48px; margin-bottom: 10px;">⏳</div>
                <p>Loading your dashboard...</p>
            </div>
        </div>
    </Authorizing>
</AuthorizeView>

<MyModal Show="showModal" OnClose="CloseModal" IsFooter="false">
    <Title>
        <p style="font-size:10px;color:#7493f6">JOB DETAILS</p>
        <p style="font-size:13px;font-weight:bolder">@_serviceJobDetail.JobId</p>
    </Title>
    <Body>
        @if(_isJobDetailLoading){
        <Loader position="Position.Center" />
        }
        else if(_serviceJobDetail != null)
        {
            <div>
            <div style="display:flex;justify-content:space-between">
                <div style="line-height:0.1rem">
                    <p style="font-size:16px;font-weight:bolder">@_serviceJobDetail.Service</p>
                    <p style="font-size:10px;font-weight:lighter;color:gray">@_serviceJobDetail.BikeModel (@_serviceJobDetail.BikeNumber)</p>
                </div>
                <div>
                    <span style="font-size: 10px;border: solid 0px;background-color: green;border-radius:12px;padding: 6px;color: white;">@_serviceJobDetail.Status</span>
                </div>
            </div>

            <div class="row p-2 mx-1 " style="background-color:white;border:solid 1px transparent;border-radius:10px">
                <p style="font-size:10px;font-weight:bold;color:gray">CUSTOMER DETAILS</p>
                <div class="col-12 col-sm-6">
                    <span style="font-size:12px"><strong>Name:</strong> @_serviceJobDetail.CustomerName</span>

                </div>
                <div class="col-12 col-sm-6">
                    <span style="font-size:12px"><strong>Email:</strong> @( IfEmptyShowNA(_serviceJobDetail.Email)) </span>
                </div>
                <div class="col-12">
                    <span style="font-size:12px"><strong>Address:</strong> @(IfEmptyShowNA(_serviceJobDetail.Address))</span>
                </div>
            </div>

            <div class="info-grid pt-2">
                <span><strong>Mechanic:</strong> @_serviceJobDetail.Mechanic</span>
                <span><strong>CreatedBy:</strong> @(IfEmptyShowNA(_serviceJobDetail.CreatedBy))</span>

                <span><strong>Assigned:</strong> @(IfEmptyShowNA(_serviceJobDetail.CreatedAt))</span>
                <span><strong>Start Time:</strong> @(IfEmptyShowNA(_serviceJobDetail.StartTime))</span>

                <span><strong>Created:</strong>@(IfEmptyShowNA(_serviceJobDetail.CreatedAt))</span>
                <span><strong>Completed:</strong>@(IfEmptyShowNA(_serviceJobDetail.CompletedDate))</span>
                <span><strong>Est.Cost:</strong>@(IfEmptyShowNA(_serviceJobDetail.EstimatedCost))</span>
                <span><strong>Final Cost:</strong>@(IfEmptyShowNA(_serviceJobDetail.FinalCost))</span>
                <span><strong>Est.Duration:</strong> @(IfEmptyShowNA(_serviceJobDetail.EstimatedDuration))</span>
            </div>

        </div>
        }
        else
        {
            
        <div style="text-align:center; padding:40px;">
            <h3 style="margin-bottom:10px;">No details found</h3>
            <p style="color:#666;">Unable to fetch job details at the moment.</p>
            </div>
        }
    </Body>

</MyModal>
